{% extends 'layout.html' %}

{% block main %}

<ol class="breadcrumb">
    <li><a href="/admin">首页</a></li>
    <li><a href="/admin/worker">工作人员管理</a></li>
    <li class="active">工作人员修改</li>
</ol>

<h3>工作人员修改 - {{worker._id.toString()}}</h3>

<form role="form" method="post">
    <div class="form-group">
        <label for="username">用户名</label>
        <input type="text" value="{{worker.username}}" class="form-control" id="username" placeholder="请输入用户名" name="username">
    </div>

    <div class="form-group">
        <label for="password">密码</label>
        <input type="text" value="{{worker.password}}" class="form-control" id="password" placeholder="请输入密码" name="password">
    </div>

    <div class="form-group">
        <label for="tel">联系方式</label>
        <input type="text" value="{{worker.tel}}" class="form-control" id="tel" placeholder="请输入联系方式" name="tel">
    </div>
    <button type="submit" class="btn btn-default btn-primary">提交</button>
</form>

{% endblock %}