{% extends 'layout.html' %}
{% block main %}
<ol class="breadcrumb">
  <li><a href="/worker">首页</a></li>
  <li class="active">借阅图书</li>
</ol>
 <h3>借阅图书</h3>
<form role="form" method="post">
  <div class="form-group">
    <label for="uname">用户名</label>
    <input type="text" class="form-control" id="uname" placeholder="请输入用户名" name="uname" value="">
  </div>
  <div class="form-group">
    <label for="bookid">图书编号</label>
    <input type="text" class="form-control" id="bookid" placeholder="请输入图书编号" name="bookid" value="">
  </div>  
  <button type="submit" class="btn btn-primary">借出</button>
</form>
{% endblock %}