*{
	padding:0;
	margin:0;
}
body{
	background: #fff;
	font-size:14px;
}
a{
	text-decoration: none;
	
}
li{
	list-style: none;
}
/*导航栏*/
.enter>div{
	margin:0 auto;
	width:400px;
	padding: 10px 20px;
	border:1px solid #ccc;
	border-radius: 5px;
	background: #CEF0F8
}
.myhide{
	display: none;
}
.enter span{
	cursor: pointer;
	text-decoration: underline;
}
